$primary-dark-color: #00a98b;
$primary-light-color: #01cca7;
$charcoal-color: #101010;
$white-color: #fff;
$off-white-color: #f2f2f2;
$coal-dark-color: #1b1a1a;
$coal-light-color: #2f2d2d;
$gray-dark-color: #858585;
$gray-light-color: #a8a8a8;
$banana-dark-color: #c7981f;
$lilac-dark-color: #8541a4;
$blizzard-dark-color: #407ba5;
$orchid-dark-color: #a34242;
$lavender-dark-color: #4b4a9c;
$matcha-dark-color: #6da93c;
$banana-light-color: #efd080;
$lilac-light-color: #cf93eb;
$blizzard-light-color: #a1cae7;
$orchid-light-color: #e49b9b;
$lavender-light-color: #8a89df;
$matcha-light-color: #bbe599;